{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container-user">
        {% if app.user %}
            <p>Bonjour {{ app.user.email }}</p>
            <a href="{{ path('logout') }}" class="button-link">Déconnexion</a>
        {% else %}
            <a href="{{ path('login') }}" class="button-link">Connexion</a>
            <a href="{{ path('register') }}" class="button-link">Inscription</a>
        {% endif %}
    </div>

    <h1>Liste des articles</h1>

    <div class="container-article">
        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <div data-user-id="{{ app.user ? app.user.id : null }}"></div>
                <div class="container-buttons">
                    <div class="container-like-button">
                        <button id="like-button-{{ article.id }}" class="like-button" data-article="{{ article.id }}">
                            {% if app.user %}
                                <i id="like-icon-{{ article.id }}" class="{{ app.user.hasLikedArticle(article) ? 'fas' : 'far' }} fa-thumbs-up"></i>
                            {% else %}
                                <i id="like-icon-{{ article.id }}" class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span id="like-count-{{ article.id }}">{{ article.likes|length }}</span>
                        </button>
                    </div>
                    <a href="{{ path('article_show', {id: article.id}) }}" class="discover-button">
                        Lire la suite...
                    </a>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}
